<ion-view>
  <ion-content class="home">
    <ion-android-list>
      <div class="item item-divider">
        Горячие предложения
      </div>
      <div ng-repeat="item in items" class="list">
        <a class="item item-thumbnail-left" href="#/item/{{item._id}}">
          <img ng-src={{item.offer_image_url}}>
          <h2 class="wrap">{{item.offer_header}}</h2>
          <p class="nowrap">{{item.offer_description}}</p>
          <p>{{item.shop_name}}</p>
          <button class="button button-stable button-small">Сохранить купон</button>
        </a>
      </div>
      <div class="item item-divider">
        Популярные предложения
      </div>
      <div ng-repeat="product in products" class="list">
        <a class="item item-thumbnail-left" href="#">
          <img ng-src={{product.main_img_href}}>
          <h2 class="wrap">{{product.header}}</h2>
          <p class="nowrap">{{product.full_description}}</p>
          <p>Парикмахерская "Елена"</p>
          <button class="button button-stable button-small">Сохранить купон</button>
        </a>
      </div>
      <div class="item item-divider">
        Скоро истекают
      </div>
      <div ng-repeat="product in products" class="list">
        <a class="item item-thumbnail-left" href="#">
          <img ng-src={{product.main_img_href}}>

          <h2 class="wrap">{{product.header}}</h2>
          <p class="nowrap">{{product.full_description}}</p>
          <p>Парикмахерская "Елена"</p>
          <button class="button button-stable button-small">Сохранить купон</button>
        </a>
      </div>
    </ion-android-list>
    <!-- <hscroller>
      <hcard ng-repeat="product in products" index="{{$index}}" desc="{{product.about_header}}" image="http://mirgif.com/6/45.gif"></hcard>
      <hcard ng-repeat="product in products" index="{{$index}}" desc="{{product.about_header}}" image="http://mirgif.com/6/45.gif"></hcard>
    </hscroller> -->
  </ion-content>

</ion-view>
