<ion-view>
  <ion-content class="home">
  <ion-android-list>
    <div class="item item-divider">
    {{current.shop_name}}
    </div>
    <div class="list">
      <div class="item item-thumbnail-left" href="#">
        <img ng-src={{current.offer_image_url}}>
        <h2 class="wrap">{{current.offer_header}}</h2>
        <p class="wrap">{{current.offer_description}}</p>
        <p>{{datas.offer_description}}</p>
        <button class="button button-stable button-small">Сохранить купон</button>
      </div>
    </div>
  </ion-android-list>
</ion-content>
</ion-view>
